if DEV
  script(src='/scripts/jquery.js')
  script(src='/scripts/bootstrap.js')
  script(src='/scripts/jasny-bootstrap.js')
else
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.1/js/jasny-bootstrap.min.js')
script(src='/scripts/lib/prism.js')
